# Database
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/nhom8_db?createDatabaseIfNotExist=true&useSSL=false
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_password

# Admin Seed Data
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@example.com

# Services
QDRANT_URL=http://qdrant:6333
OLLAMA_URL=http://ollama:11434

# OAuth2 Google
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
